{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Django | About</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=True %}
    </head>
    <body>
        <div class="container mt-4">
            <h1>HELLO, {{ who }}</h1>
            <a href="/about/">O чем сайт</a>
            <br>
            <a href="/articles/">Статьи</a>
        </div>
    </body>
